<template>
    <div>
        <header>
            <h2 class="h1">Recommended Products</h2>
            <div class="owl-nav">
                <a href="#products-carousel-prev" data-target="#recommended-product" class="slider-prev"><i class="fa fa-angle-left"></i></a>
                <a href="#products-carousel-next" data-target="#recommended-product" class="slider-next"><i class="fa fa-angle-next"></i></a>
            </div>
        </header>
        <div id="recommended-product">
            <div class="woocommerce columns-4">
                <div class="products owl-carousel products-carousel columns-4 owl-loaded owl-drag">
                    <div class="product" v-for="item in productlist" :key="item.id">
                         <div class="product-outer">
                            <div class="product-inner">
                                <span class="loop-product-categories"><a href="product-category.html" rel="tag">{{item.model}}</a></span>
                                <a href="single-product.html">
                                    <h3>{{item.type}}</h3>
                                    <div class="product-thumbnail">
                                        <img src="assets/images/blank.gif" data-echo="assets/images/product-category/5.jpg" class="img-responsive" alt="">
                                    </div>
                                </a>
                                <div class="price-add-to-cart">
                                    <span class="price">
                                        <span class="electro-price">
                                            <ins v-if="item.price">{{item.price}}<span class="amount"> </span></ins>
                                            <del  v-if="item.discprice"><span class="amount">{{item.discprice}}</span></del>
                                            <span class="amount">{{item.fixprice}}</span>
                                        </span>
                                    </span>
                                    <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                </div><!-- /.price-add-to-cart -->

                                <div class="hover-area">
                                    <div class="action-buttons">
                                        <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                        <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                    </div>
                                </div>
                           </div><!-- /.product-inner -->
                        </div><!-- /.product-outer -->
                    </div><!-- /.products -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "RecommendedProduct",
    data() {
        return {
            productlist: [
            { model: 'Smartphones', type: 'Laptop Yoga 21 80JH0035GE  W8.1 (Copy)', price: null, fixprice: '$1,999.00', discprice: null },
            { model: 'Smartphones', type: 'Notebook Purple G952VX-T7008T', price: null, fixprice: '$1,999.00', discprice: null },
            { model: 'Smartphones', type: 'Notebook Widescreen Z51-70  40K6013UPB', price: '$1,999.00', fixprice: '$1,999.00', discprice: null },
            { model: 'Smartphones', type: 'Laptop Yoga 21 80JH0035GE  W8.1 (Copy)', price: null, fixprice: '$1,999.00', discprice: null },
            { model: 'Smartphones', type: 'Laptop Yoga 21 80JH0035GE  W8.1 (Copy)', price: null, fixprice: '$1,999.00', discprice: null }
            ]
        }
  }
}
</script>
