<!DOCTYPE html>
<html lang="en" itemscope="itemscope" itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/animate.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/font-electro.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/owl-carousel.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="assets/css/colors/yellow.css" media="all" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,700italic,800,800italic,600italic,400italic,300italic' rel='stylesheet' type='text/css'>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>mesin-utama-web</title>
  </head>
  <body class="home-v2">
    <noscript>
      <strong>We're sorry but mesin-utama-web doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/tether.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="assets/js/echo.min.js"></script>
    <script type="text/javascript" src="assets/js/wow.min.js"></script>
    <!-- <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script> -->
    <script type="text/javascript" src="assets/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="assets/js/electro.js"></script>
    <div id="app" class="hfeed site"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
