<template>
    <section class="brands-carousel">
        <h2 class="sr-only">Brands Carousel</h2>
        <div class="container">
          <div id="owl-brands" class="owl-brands owl-carousel unicase-owl-carousel owl-outer-nav">
            <div v-for="item in brand" :key="item.id" class="item">
              <a href="#">
                <figure>
                  <figcaption class="text-overlay">
                    <div class="info">
                      <h4>{{item.title}}</h4>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="assets/images/blank.gif" data-echo="assets/images/brands/1.png" class="img-responsive" alt="">
                </figure>
              </a>
            </div><!-- /.item -->
          </div><!-- /.owl-carousel -->
        </div>
    </section>
</template>

<script>
export default {
    name: 'brand',
    data: () => ({
      brand: [
        {
          title: 'Acer'
        },
        {
          title: 'Apple'
        },
        {
          title: 'Asus'
        },
        {
          title: 'Dell'
        },
        {
          title: 'Gionne'
        },
        {
          title: 'Hp'
        },
        {
          title: 'HTC'
        },
        {
          title: 'IBM'
        },
        {
          title: 'Lenova'
        },
        {
          title: 'LG'
        },
        {
          title: 'Micromax'
        },
        {
          title: 'Microsoft'
        },
      ]
    })
}
</script>
