<template>
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div v-for="item in products" :key="item.id" class="col-lg-4 col-md-4 col-xs-12">
                    <aside class="widget clearfix">
                        <div class="body">
                        <h4 class="widget-title">{{item.title}}</h4>
                        <ul class="product_list_widget">
                        <li v-for="product in item.product" :key="product.id">
                            <a href="single-product.html" title="Tablet Thin EliteBook  Revolve 810 G6">
                                <img class="wp-post-image" data-echo="assets/images/footer/1.jpg" src="assets/images/blank.gif" alt="">
                                <span class="product-title">{{product.title}}</span>
                            </a>
                            <div v-if="product.rate != null" class="star-rating"><span :style="product.rate"><strong class="rating"></strong></span></div>
                            <span class="electro-price">
                                <span v-if="product.discprice == null" class="amount">{{product.price}}</span>
                                <ins v-if="product.fixprice != null"><span class="amount">{{product.fixprice}}</span></ins> 
                                <del v-if="product.discprice != null"><span class="amount">{{product.discprice}}</span></del>
                            </span>
                        </li>
                        </ul>
                        </div>
                    </aside>
                </div>
            </div>
          </div>
        </div>
</template>

<script>
export default {
    name: 'footerproduct',
    data: () => ({
        products: [
            {
                title: 'Featured Products', product: [
                    {
                        title: 'Tablet Thin EliteBook  Revolve 810 G6',
                        price: '$ 1,300.00',
                        fixprice: null,
                        discprice: null,
                        rate: null
                    },
                    {
                        title: 'Smartphone 6S 128GB LTE',
                        price: '$ 780.00',
                        fixprice: null,
                        discprice: null,
                        rate: null
                    },
                    {
                        title: 'Smartphone 6S 64GB LTE',
                        price: '$ 1,215.00',
                        fixprice: null,
                        discprice: null,
                        rate: null
                    }
                ]
            },
            {
                title: 'Onsale Products', product: [
                    {
                        title: 'Notebook Black Spire V Nitro  VN7-591G',
                        price: '$ 1,999.00',
                        fixprice: null,
                        discprice: null,
                        rate: null
                    },
                    {
                        title: 'Tablet Red EliteBook  Revolve 810 G2',
                        price: '$ 1,999.00',
                        fixprice: '$ 1,999.00',
                        discprice: '$ 2,999.00',
                        rate: null
                    },
                    {
                        title: 'Widescreen 4K SUHD TV',
                        price: '$ 2,999.00',
                        fixprice: null,
                        discprice: null,
                        rate: null
                    }
                ]
            },
            {
                title: 'Top Rated Products', product: [
                    {
                        title: 'Notebook Black Spire V Nitro  VN7-591G',
                        price: '$ 1,999.00',
                        fixprice: null,
                        discprice: null,
                        rate: 'width:100%'
                    },
                    {
                        title: 'Tablet Red EliteBook  Revolve 810 G2',
                        price: '$ 1,999.00',
                        fixprice: '$ 1,999.00',
                        discprice: '$ 2,999.00',
                        rate: 'width:80%'
                    },
                    {
                        title: 'Widescreen 4K SUHD TV',
                        price: '$ 2,999.00',
                        fixprice: null,
                        discprice: null,
                        rate: 'width:60%'
                    }
                ]
            }
        ]
    })
}
</script>

<style>

</style>
