<template>
  <div class="about full-width page page-template-default">
    <div id="content" class="site-content" tabindex="-1">
      <div class="container">
        <div id="primary" class="content-area">
          <main id="main" class="site-main">
            <article class="has-post-thumbnail hentry">
              <header class="entry-header header-with-cover-image" style="background-image: url(assets/images/products/header-image.jpg);">
                <div class="caption">
                  <h1 class="entry-title" itemprop="name">About Us</h1>
                  <p class="entry-subtitle">Passion may be a friendly or eager interest in or admiration for a proposal, <br> cause, discovery, or activity or love to a feeling of unusual excitement.</p>
                </div>
              </header><!-- .entry-header -->
              <div class="entry-content">
                <div class="row about-features inner-top-md inner-bottom-sm">
                  <div class="col-xs-12 col-md-4">
                    <figure class="wpb_wrapper vc_figure outer-bottom-xs">
                      <div class="vc_single_image-wrapper">
                        <img src="assets/images/blank.gif" data-echo="assets/images/column1.jpg" class="img-responsive" alt="">
                      </div>
                    </figure>
                    <div class="text-content">
                      <h2 class="align-top">What we really do?</h2>
                      <p>Donec libero dolor, tincidunt id laoreet vitae,<br />
                        ullamcorper eu tortor. Maecenas pellentesque,<br />
                        dui vitae iaculis mattis, tortor nisi faucibus magna,<br />
                        vitae ultrices lacus purus vitae metus.
                      </p>
                    </div>
                  </div><!-- .col -->
                  <div class="col-xs-12 col-md-4">
                    <figure class="wpb_wrapper vc_figure outer-bottom-xs">
                      <div class="vc_single_image-wrapper">
                        <img src="assets/images/blank.gif" data-echo="assets/images/column2.jpg" class="img-responsive" alt="">
                      </div>
                    </figure>
                    <div class="text-content">
                      <h2 class="align-top">Our Vision</h2>
                      <p>Donec libero dolor, tincidunt id laoreet vitae,<br />
                        ullamcorper eu tortor. Maecenas pellentesque,<br />
                        dui vitae iaculis mattis, tortor nisi faucibus magna,<br />
                        vitae ultrices lacus purus vitae metus.
                      </p>
                    </div>
                  </div><!-- .col -->
                  <div class="col-xs-12 col-md-4">
                    <figure class="wpb_wrapper vc_figure outer-bottom-xs">
                      <div class="vc_single_image-wrapper">
                        <img src="assets/images/blank.gif" data-echo="assets/images/column3.jpg" class="img-responsive" alt="">
                      </div>
                    </figure>
                    <div class="text-content">
                      <h2 class="align-top">History of Beginning</h2>
                      <p>Donec libero dolor, tincidunt id laoreet vitae,<br />
                        ullamcorper eu tortor. Maecenas pellentesque,<br />
                        dui vitae iaculis mattis, tortor nisi faucibus magna,<br />
                        vitae ultrices lacus purus vitae metus.
                      </p>
                    </div>
                  </div><!-- .col -->
                </div><!-- .row -->
                <div class="light-bg team-member-wrapper ">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-2">
                        <div class="team-member circle">
                          <img src="assets/images/blank.gif" data-echo="assets/images/team-member/1.jpg" class="img-responsive" alt="">
                          <div class="profile">
                            <h3>Thomas Snow <small class="description">CEO/Founder</small>
                            </h3>
                          </div>
                        </div>
                      </div><!-- .col -->
                      <div class="col-sm-2">
                        <div class="team-member circle">
                          <img src="assets/images/blank.gif" data-echo="assets/images/team-member/2.jpg" class="img-responsive" alt="">
                          <div class="profile">
                            <h3>Anna Baranov  <small class="description">Client Care</small>
                            </h3>
                          </div>
                        </div>
                      </div><!-- .col -->
                      <div class="col-sm-2">
                        <div class="team-member circle">
                          <img src="assets/images/blank.gif" data-echo="assets/images/team-member/3.jpg" class="img-responsive" alt="">
                          <div class="profile">
                            <h3>Andre Kowalsy  <small class="description">Support Boss</small>
                            </h3>
                          </div>
                        </div>
                      </div><!-- .col -->
                      <div class="col-sm-2">
                        <div class="team-member circle">
                          <img src="assets/images/blank.gif" data-echo="assets/images/team-member/4.jpg" class="img-responsive" alt="">
                          <div class="profile">
                            <h3>Pamela Doe  <small class="description">Delivery Driver</small>
                            </h3>
                          </div>
                        </div>
                      </div><!-- .col -->
                      <div class="col-sm-2">
                        <div class="team-member circle">
                          <img src="assets/images/blank.gif" data-echo="assets/images/team-member/5.jpg" class="img-responsive" alt="">
                          <div class="profile">
                            <h3>Susan McCain  <small class="description">Packaging Girl</small>
                            </h3>
                          </div>
                        </div>
                      </div><!-- .col -->
                      <div class="col-sm-2">
                        <div class="team-member circle">
                          <img src="assets/images/blank.gif" data-echo="assets/images/team-member/7.png" class="img-responsive" alt="">
                          <div class="profile">
                            <h3>See Details  <small class="description"></small>
                            </h3>
                          </div>
                        </div>
                      </div><!-- .col -->
                    </div><!-- .row -->
                  </div><!-- .container -->
                </div><!-- .row -->
                <div class="vc_row-full-width vc_clearfix"></div>
                <div class="row inner-sm">
                  <div class="text-boxes col-sm-7">
                    <div class="row inner-bottom-xs">
                      <div class="col-sm-6">
                        <div class="wpb_wrapper">
                          <h3 class="highlight">What we really do?</h3>
                          <p>Donec libero dolor, tincidunt id laoreet vitae, ullamcorper eu tortor. Maecenas pellentesque, dui vitae iaculis mattis, tortor nisi faucibus magna, vitae ultrices lacus purus vitae metus. Ut nec odio facilisis, ultricies nunc eget, fringilla orci.</p>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="wpb_wrapper">
                          <h3 class="highlight">Our Vision</h3>
                          <p>Vestibulum velit nibh, egestas vel faucibus vitae, feugiat sollicitudin urna. Praesent iaculis id ipsum sit amet pretium. Aliquam tristique sapien nec enim euismod, scelerisque facilisis arcu consectetur. Vestibulum velit nibh, egestas vel faucibus vitae.</p>
                        </div>
                      </div>
                    </div>
                    <div class="row inner-bottom-xs">
                      <div class="col-sm-6">
                        <div class="wpb_wrapper">
                          <h3 class="highlight">What we really do?</h3>
                          <p>Donec libero dolor, tincidunt id laoreet vitae, ullamcorper eu tortor. Maecenas pellentesque, dui vitae iaculis mattis, tortor nisi faucibus magna, vitae ultrices lacus purus vitae metus. Ut nec odio facilisis, ultricies nunc eget, fringilla orci.</p>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="wpb_wrapper">
                          <h3 class="highlight">Our Vision</h3>
                          <p>Vestibulum velit nibh, egestas vel faucibus vitae, feugiat sollicitudin urna. Praesent iaculis id ipsum sit amet pretium. Aliquam tristique sapien nec enim euismod, scelerisque facilisis arcu consectetur. Vestibulum velit nibh, egestas vel faucibus vitae.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb-accordion col-sm-5">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <h2>What can we do for you ?</h2>
                        <div class="vc_general vc_tta vc_tta-accordion" id="accordion">
                          <div class="vc_tta-panels">
                            <div class="vc_tta-panel vc_active">
                              <div class="vc_tta-panel-heading">
                                <h4 class="vc_tta-panel-title">
                                  <a aria-controls="collapseOne" aria-expanded="false" href="#collapseOne" data-parent="#accordion" data-toggle="collapse" role="button">
                                    <span class="text">Support 24/7</span>
                                    <i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i>
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseOne" class="vc_tta-panel-body collapse in">
                                <p>Vestibulum velit nibh, egestas vel faucibus vitae, feugiat sollicitudin urna. Praesent iaculis id ipsum sit amet pretium. Aliquam tristique sapien nec enim euismod, scelerisque facilisis arcu consectetur.</p>
                              </div>
                            </div>
                            <div class="vc_tta-panel">
                              <div class="vc_tta-panel-heading">
                                <h4 class="vc_tta-panel-title">
                                  <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" class="collapsed" data-parent="#accordion" data-toggle="collapse" role="button">
                                    <span class="text">Support 24/7</span>
                                    <i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i>
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseTwo" class="vc_tta-panel-body collapse">
                                <p>Vestibulum velit nibh, egestas vel faucibus vitae, feugiat sollicitudin urna. Praesent iaculis id ipsum sit amet pretium. Aliquam tristique sapien nec enim euismod, scelerisque facilisis arcu consectetur.</p>
                              </div>
                            </div>
                            <div class="vc_tta-panel">
                              <div class="vc_tta-panel-heading">
                                <h4 class="vc_tta-panel-title">
                                  <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree" class="collapsed" data-parent="#accordion" data-toggle="collapse" role="button">
                                    <span class="text">Support 24/7</span>
                                    <i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i>
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseThree" class="vc_tta-panel-body collapse">
                                <p>Vestibulum velit nibh, egestas vel faucibus vitae, feugiat sollicitudin urna. Praesent iaculis id ipsum sit amet pretium. Aliquam tristique sapien nec enim euismod, scelerisque facilisis arcu consectetur.</p>
                              </div>
                            </div>
                            <div class="vc_tta-panel">
                              <div class="vc_tta-panel-heading">
                                <h4 class="vc_tta-panel-title">
                                  <a aria-controls="collapseFour" aria-expanded="false" href="#collapseFour" class="collapsed" data-parent="#accordion" data-toggle="collapse" role="button">
                                    <span class="text">Support 24/7</span>
                                    <i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i>
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseFour" class="vc_tta-panel-body collapse">
                                <p>Vestibulum velit nibh, egestas vel faucibus vitae, feugiat sollicitudin urna. Praesent iaculis id ipsum sit amet pretium. Aliquam tristique sapien nec enim euismod, scelerisque facilisis arcu consectetur.</p>
                              </div>
                            </div>
                            <div class="vc_tta-panel">
                              <div class="vc_tta-panel-heading">
                                <h4 class="vc_tta-panel-title">
                                  <a aria-controls="collapseFive" aria-expanded="false" href="#collapseFive" class="collapsed" data-parent="#accordion" data-toggle="collapse" role="button">
                                    <span class="text">Support 24/7</span>
                                    <i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i>
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseFive" class="vc_tta-panel-body collapse">
                                <p>Vestibulum velit nibh, egestas vel faucibus vitae, feugiat sollicitudin urna. Praesent iaculis id ipsum sit amet pretium. Aliquam tristique sapien nec enim euismod, scelerisque facilisis arcu consectetur.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- .entry-content -->
            </article><!-- #post-## -->
          </main><!-- #main -->
        </div><!-- #primary -->
      </div><!-- .col-full -->
    </div><!-- #content -->
  </div>
</template>
<script>
export default {
  name: "About"
}
</script>
