<template>
  <div class="home-v2">
    <div id="content" class="site-content" tabindex="-1">
      <div class="container">
          <div id="primary" class="content-area">
              <main id="main" class="site-main">
                <div class="home-v2-slider" >
                  <div id="owl-main" class="owl-inner-nav owl-ui-sm">
                    <carousel 
                    paginationPosition="bottom-overlay"
                    :paginationSize="15"
                    paginationActiveColor="#bcbcbc"
                    :per-page="1"  
                    :autoplay="true" 
                    :autoplayHoverPause="false"
                    :autoplayTimeout="3000"
                    :loop="true">
                      <slide :banner="banner" v-for="item in banner" :key="item.id" class="item" :style="item.background">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-offset-3 col-md-5">
                              <div class="caption vertical-center text-left">
                                <div :class="item.class1">
                                  <p v-html="item.title1"></p>
                                </div>

                                <div :class="item.class2">
                                  <p v-html="item.title2"></p>
                                </div>
                                <div v-if="class3 != null" :class="item.class3" v-html="item.title3">
                                </div>
                                <div :class="item.btnStyle">
                                  <a href="single-product.html" class="big le-button ">Start Buying</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </slide>
                    </carousel>
                  </div>
                </div>
                  <ProductTab></ProductTab>
                  <BestSeller></BestSeller>
                  <div class="home-v2-banner-block animate-in-view fadeIn animated" data-animation=" animated fadeIn">
                    <div class="home-v2-fullbanner-ad fullbanner-ad" style="margin-bottom: 70px">
                      <a href="#">
                        <img src="assets/images/banner/home-v2.png" class="img-fluid" alt="">
                      </a>
                    </div>
                  </div>
                  <Category></Category>
              </main><!-- #main -->
          </div><!-- #primary -->
          <SideBar></SideBar>
      </div><!-- .container -->
    </div><!-- #content -->
  </div>
</template>

<script>
// @ is an alias to /src
import Car from '@/components/Home/Carousel'
import { Carousel, Slide } from 'vue-carousel';
import ProductTab from "@/components/Home/ProductTab";
import BestSeller from "@/components/Home/BestSeller";
import Category from "@/components/Home/Category";
import SideBar from "@/components/Home/SideBar";

export default {
  name: "home",
  components: {
    Car,
    Carousel,
    Slide,
    ProductTab,
    BestSeller,
    Category,
    SideBar
  },
  data: () => ({
    banner: [
        {
            background: 'background-image: url(assets/images/slider/banner-2.jpg)',
            class1: 'hero-1 fadeInDown-1',
            class2: 'hero-subtitle fadeInDown-2',
            class3: 'hero-v2-price fadeInDown-3',
            title1: 'The New <br> Standard',
            title2: 'under favorable smartwatches',
            title3: 'from <br><span>$749</span>',
            btnStyle: 'hero-action-btn fadeInDown-4'
        },
        {
            background: 'background-image: url(assets/images/slider/banner-1.jpg)',
            class1: 'hero-subtitle-v2 fadeInDown-1',
            class2: 'hero-2 fadeInDown-2',
            class3: null,
            title1: 'shop to get what you loves',
            title2: 'Timepieces that make a statement up to <strong>40% Off</strong>',
            title3: null,
            btnStyle: 'hero-action-btn fadeInDown-3'
        },
        {
            background: 'background-image: url(assets/images/slider/banner-3.jpg)',
            class1: 'hero-subtitle-v2 fadeInLeft-1',
            class2: 'hero-2 fadeInRight-1',
            class3: null,
            title1: 'shop to get what you loves',
            title2: 'Timepieces that make a statement up to <strong>40% Off</strong>',
            title3: null,
            btnStyle: 'hero-action-btn fadeInLeft-2'
        },
      ]
  }),
};
</script>
<style>
.home-v2 {
  background-color: #f9f9f9;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  margin-bottom: 3em;
  height: 485px;
}
</style>
