<template>
    <div class="left-sidebar">
        <div id="content" class="site-content" tabindex="-1">
            <div class="container">
                <nav class="woocommerce-breadcrumb" ><a href="home.html">Home</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Smart Phones &amp; Tablets</nav>
                <div id="primary" class="content-area">
                    <main id="main" class="site-main">
                        <section class="section-product-cards-carousel" >
                           <RecommendedProduct></RecommendedProduct> 
                        </section>
                    </main>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import RecommendedProduct from "@/components/ProductList/RecommendedProduct"
export default {
    name: "productlist",
    components: {
    RecommendedProduct
    }
}
</script>