<template>
    <section class="section-product-cards-carousel animate-in-view fadeIn animated" data-animation="fadeIn">
        <header>
            <h2 class="h1">Best Sellers</h2>
            <ul class="nav nav-inline">
                <li class="nav-item active"><span class="nav-link">Top 20</span></li>
                <li class="nav-item"><router-link class="nav-link" to="/productlist">Smart Phones &amp; Tablets</router-link></li>
                <li class="nav-item"><router-link class="nav-link" to="/productlist">aptops &amp; Computers</router-link></li>
                <li class="nav-item"><router-link class="nav-link" to="/productlist">Video Cameras</router-link></li>
            </ul>
        </header>
        <div id="home-v1-product-cards-careousel">
            <div class="woocommerce columns-2 home-v1-product-cards-carousel product-cards-carousel owl-carousel">
                <ul class="products columns-2">
                    <li v-for="item in product" :key="item.id" class="product product-card">
                        <div class="product-outer">
                            <div class="media product-inner">
                                <a class="media-left" href="single-product.html" title="Pendrive USB 3.0 Flash 64 GB">
                                    <img class="media-object wp-post-image img-responsive" src="assets/images/blank.gif" data-echo="assets/images/product-cards/3.jpg" alt="">
                                </a>
                                <div class="media-body">
                                    <span class="loop-product-categories">
                                        <a href="product-category.html" rel="tag">{{item.tag}}</a>
                                    </span>
                                    <a href="single-product.html">
                                        <h3>{{item.title}}</h3>
                                    </a>
                                    <div class="price-add-to-cart">
                                        <span class="price">
                                            <span class="electro-price">
                                                <ins v-if="item.price == null"><span class="amount">{{item.fixprice}} </span></ins>
                                                <del v-if="item.price == null"><span class="amount">{{item.discprice}}</span></del>
                                                <span v-if="item.price != null" class="amount">{{item.price}} </span>
                                            </span>
                                        </span>
                                        <a href="cart.html" class="button add_to_cart_button">Add to cart</a>
                                    </div><!-- /.price-add-to-cart -->
                                    <div class="hover-area">
                                        <div class="action-buttons">
                                            <a href="#" class="add_to_wishlist">
                                                Wishlist</a>
                                            <a href="#" class="add-to-compare-link">Compare</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.product-inner -->
                        </div><!-- /.product-outer -->
                    </li><!-- /.products -->
                </ul>
                <ul class="products columns-2">
                    <li v-for="item in product" :key="item.id" class="product product-card">
                        <div class="product-outer">
                            <div class="media product-inner">
                                <a class="media-left" href="single-product.html" title="Pendrive USB 3.0 Flash 64 GB">
                                    <img class="media-object wp-post-image img-responsive" src="assets/images/blank.gif" data-echo="assets/images/product-cards/3.jpg" alt="">
                                </a>
                                <div class="media-body">
                                    <span class="loop-product-categories">
                                        <a href="product-category.html" rel="tag">{{item.tag}}</a>
                                    </span>
                                    <a href="single-product.html">
                                        <h3>{{item.title}}</h3>
                                    </a>
                                    <div class="price-add-to-cart">
                                        <span class="price">
                                            <span class="electro-price">
                                                <ins v-if="item.price == null"><span class="amount">{{item.fixprice}} </span></ins>
                                                <del v-if="item.price == null"><span class="amount">{{item.discprice}}</span></del>
                                                <span v-if="item.price != null" class="amount">{{item.price}} </span>
                                            </span>
                                        </span>
                                        <a href="cart.html" class="button add_to_cart_button">Add to cart</a>
                                    </div><!-- /.price-add-to-cart -->
                                    <div class="hover-area">
                                        <div class="action-buttons">
                                            <a href="#" class="add_to_wishlist">
                                                Wishlist</a>
                                            <a href="#" class="add-to-compare-link">Compare</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.product-inner -->
                        </div><!-- /.product-outer -->
                    </li><!-- /.products -->
                </ul>
            </div>
        </div><!-- #home-v1-product-cards-careousel -->
    </section>
</template>
<script>
export default {
    name: 'BestSeller',
    data: () => ({
        product: [
            {
                tag: 'Headphone Cases',
                title: 'Universal Headphones Case in Black',
                fixprice: '$3,788.00',
                discprice: '$4,780.00',
                price: null
            },
            {
                tag: 'Smartphones',
                title: 'Notebook Purple G752VT-T7008T',
                fixprice: '$3,788.00',
                discprice: '$4,780.00',
                price: null
            },
            {
                tag: 'Printers',
                title: 'Full Color LaserJet Pro  M452dn',
                fixprice: '$3,788.00',
                discprice: '$4,780.00',
                price: null
            },
            {
                tag: 'Peripherals',
                title: 'External SSD USB 3.1  750 GB',
                fixprice: null,
                discprice: null,
                price: '$600'
            }
        ]
    }),
}
</script>
