<template>
<div id="Carousel">
    <!-- <div class="home-v2-slider">
        <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
        <div v-for="item in banner" :key="item.id" class="item" :style="item.background">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-5">
                        <div class="caption vertical-center text-left">
                            <div :class="item.class1">
                                <p v-html="item.title1"></p>
                            </div>

                            <div :class="item.class2">
                                <p v-html="item.title2"></p>
                            </div>
                            <div :class="item.btnStyle">
                                <a href="single-product.html" class="big le-button ">Start Buying</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div> -->
<div class="home-v2-ads-block animate-in-view fadeIn animated" data-animation=" animated fadeIn">
    <div class="ads-block row">
        <div class="ad col-xs-12 col-sm-6">
            <div class="media">
                <div class="media-left media-middle"><img src="assets/images/ad-block/1.jpg" alt="" /></div>
                <div class="media-body media-middle">
                    <div class="ad-text">
                        Catch Big<br> <strong>Deals</strong>of the<br> Cameras
                    </div>
                    <div class="ad-action">
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ad col-xs-12 col-sm-6">
            <div class="media">
                <div class="media-left media-middle"><img src="assets/images/ad-block/2.jpg" alt="" /></div>
                <div class="media-body media-middle">
                    <div class="ad-text">
                        Tablets, <br>Smartphones<br> and more
                    </div>
                    <div class="ad-action">
                        <a href="#"><span class="from"><span class="prefix">From</span><span class="value"><sup>$</sup>74</span><span class="suffix">99</span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</template>
<script>
export default {
  name: "carousel",
  data: () => ({
  })
};
</script>