<template>
    <section class="products-carousel-tabs animate-in-view fadeIn animated" data-animation="fadeIn">
        <h2 class="sr-only">Product Carousel Tabs</h2>
        <ul class="nav nav-inline">
            <li class="nav-item">
                <a class="nav-link active" href="#tab-products-1" data-toggle="tab">Featured</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#tab-products-2" data-toggle="tab">On Sale</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#tab-products-3" data-toggle="tab">Top Rated</a>
            </li>
        </ul><!-- /.nav -->
        <div class="tab-content">
            <div class="tab-pane active" id="tab-products-1" role="tabpanel">
                <section class="section-products-carousel" >
                <div class="home-v2-owl-carousel-tabs">
                    <div class="woocommerce columns-3">
                        <div class="products owl-carousel home-v2-carousel-tabs products-carousel columns-3">
                            <div class="product">
                                <div class="product-outer">
                                    <div class="product-inner">
                                        <span class="loop-product-categories"><a href="product-category.html" rel="tag">Audio Speakers</a></span>
                                        <a href="single-product.html">
                                            <h3>Wireless Audio System Multiroom 360</h3>
                                            <div class="product-thumbnail">
                                                <img src="assets/images/products/3.jpg" data-echo="assets/images/products/3.jpg" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                        <div class="price-add-to-cart">
                                            <span class="price">
                                                <span class="electro-price">
                                                    <ins><span class="amount"> $1,999.00</span></ins>
                                                    <del><span class="amount">$2,299.00</span></del>
                                                    <span class="amount"> </span>
                                                </span>
                                            </span>
                                            <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                        </div><!-- /.price-add-to-cart -->
                                        <div class="hover-area">
                                            <div class="action-buttons">
                                                <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                            </div>
                                        </div>
                                    </div><!-- /.product-inner -->
                                </div><!-- /.product-outer -->
                            </div><!-- /.product -->
                            <div class="product">
                                <div class="product-outer">
                                    <div class="product-inner">
                                        <span class="loop-product-categories"><a href="product-category.html" rel="tag">Laptops</a></span>
                                        <a href="single-product.html">
                                            <h3>Tablet Thin EliteBook  Revolve 810 G6</h3>
                                            <div class="product-thumbnail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/products/1.jpg" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                        <div class="price-add-to-cart">
                                            <span class="price">
                                                <span class="electro-price">
                                                    <ins><span class="amount"> </span></ins>
                                                    <span class="amount"> $1,999.00</span>
                                                </span>
                                            </span>
                                            <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                        </div><!-- /.price-add-to-cart -->
                                        <div class="hover-area">
                                            <div class="action-buttons">
                                                <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                            </div>
                                        </div>
                                    </div><!-- /.product-inner -->
                                </div><!-- /.product-outer -->
                            </div><!-- /.product -->
                            <div class="product">
                                <div class="product-outer">
                                    <div class="product-inner">
                                        <span class="loop-product-categories"><a href="product-category.html" rel="tag">Laptops</a></span>
                                        <a href="single-product.html">
                                            <h3>Tablet Red EliteBook  Revolve 810 G2</h3>
                                            <div class="product-thumbnail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/products/2.jpg" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                        <div class="price-add-to-cart">
                                            <span class="price">
                                                <span class="electro-price">
                                                    <ins><span class="amount"> </span></ins>
                                                    <span class="amount"> $1,999.00</span>
                                                </span>
                                            </span>
                                            <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                        </div><!-- /.price-add-to-cart -->
                                        <div class="hover-area">
                                            <div class="action-buttons">
                                                <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                            </div>
                                        </div>
                                    </div><!-- /.product-inner -->
                                </div><!-- /.product-outer -->
                            </div><!-- /.product -->
                            <div class="product ">
                                <div class="product-outer">
                                    <div class="product-inner">
                                        <span class="loop-product-categories"><a href="product-category.html" rel="tag">Headphones</a></span>
                                        <a href="single-product.html">
                                            <h3>White Solo 2 Wireless</h3>
                                            <div class="product-thumbnail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/products/6.jpg" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                        <div class="price-add-to-cart">
                                            <span class="price">
                                                <span class="electro-price">
                                                    <ins><span class="amount"> $1,999.00</span></ins>
                                                    <del><span class="amount">$2,299.00</span></del>
                                                    <span class="amount"> </span>
                                                </span>
                                            </span>
                                            <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                        </div><!-- /.price-add-to-cart -->
                                        <div class="hover-area">
                                            <div class="action-buttons">
                                                <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                            </div>
                                        </div>
                                    </div><!-- /.product-inner -->
                                </div><!-- /.product-outer -->
                            </div><!-- /.product -->
                            <div class="product last">
                                <div class="product-outer">
                                    <div class="product-inner">
                                        <span class="loop-product-categories"><a href="product-category.html" rel="tag">Smartphones</a></span>
                                        <a href="single-product.html">
                                            <h3>Smartphone 6S 32GB LTE</h3>
                                            <div class="product-thumbnail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/products/4.jpg" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                        <div class="price-add-to-cart">
                                            <span class="price">
                                                <span class="electro-price">
                                                    <ins><span class="amount"> </span></ins>
                                                    <span class="amount"> $1,999.00</span>
                                                </span>
                                            </span>
                                            <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                        </div><!-- /.price-add-to-cart -->
                                        <div class="hover-area">
                                            <div class="action-buttons">
                                                <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                            </div>
                                        </div>
                                    </div><!-- /.product-inner -->
                                </div><!-- /.product-outer -->
                            </div><!-- /.product -->
                        </div><!-- /.products -->
                    </div>
                </div>
                </section>
            </div><!-- /.tab-pane -->
            <div class="tab-pane" id="tab-products-2" role="tabpanel">
                <section class="section-products-carousel">
                    <div class="home-v2-owl-carousel-tabs">
                        <div class="woocommerce columns-3">
                            <div class="products owl-carousel home-v2-carousel-tabs products-carousel columns-3">
                                <div class="product">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <span class="loop-product-categories"><a href="product-category.html" rel="tag">Audio Speakers</a></span>
                                            <a href="single-product.html">
                                                <h3>Wireless Audio System Multiroom 360</h3>
                                                <div class="product-thumbnail">
                                                    <img src="assets/images/blank.gif" data-echo="assets/images/products/3.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="price-add-to-cart">
                                                <span class="price">
                                                    <span class="electro-price">
                                                        <ins><span class="amount"> $1,999.00</span></ins>
                                                        <del><span class="amount">$2,299.00</span></del>
                                                        <span class="amount"> </span>
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                            </div><!-- /.price-add-to-cart -->
                                            <div class="hover-area">
                                                <div class="action-buttons">
                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                    <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                </div>
                                            </div>
                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->
                                </div><!-- /.product -->
                                <div class="product ">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <span class="loop-product-categories"><a href="product-category.html" rel="tag">Laptops</a></span>
                                            <a href="single-product.html">
                                                <h3>Tablet Thin EliteBook  Revolve 810 G6</h3>
                                                <div class="product-thumbnail">
                                                    <img src="assets/images/blank.gif" data-echo="assets/images/products/1.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="price-add-to-cart">
                                                <span class="price">
                                                    <span class="electro-price">
                                                        <ins><span class="amount"> </span></ins>
                                                        <span class="amount"> $1,999.00</span>
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                            </div><!-- /.price-add-to-cart -->
                                            <div class="hover-area">
                                                <div class="action-buttons">
                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                    <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                </div>
                                            </div>
                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->
                                </div><!-- /.product -->
                                <div class="product">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <span class="loop-product-categories"><a href="product-category.html" rel="tag">Headphones</a></span>
                                            <a href="single-product.html">
                                                <h3>Purple Solo 2 Wireless</h3>
                                                <div class="product-thumbnail">
                                                    <img src="assets/images/blank.gif" data-echo="assets/images/products/5.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="price-add-to-cart">
                                                <span class="price">
                                                    <span class="electro-price">
                                                        <ins><span class="amount"> $1,999.00</span></ins>
                                                        <del><span class="amount">$2,299.00</span></del>
                                                        <span class="amount"> </span>
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                            </div><!-- /.price-add-to-cart -->
                                            <div class="hover-area">
                                                <div class="action-buttons">
                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                    <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                </div>
                                            </div>
                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->
                                </div><!-- /.product -->
                                <div class="product">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <span class="loop-product-categories"><a href="product-category.html" rel="tag">Laptops</a></span>
                                            <a href="single-product.html">
                                                <h3>Tablet Red EliteBook  Revolve 810 G2</h3>
                                                <div class="product-thumbnail">
                                                    <img src="assets/images/blank.gif" data-echo="assets/images/products/2.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="price-add-to-cart">
                                                <span class="price">
                                                    <span class="electro-price">
                                                        <ins><span class="amount"> </span></ins>
                                                        <span class="amount"> $1,999.00</span>
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                            </div><!-- /.price-add-to-cart -->
                                            <div class="hover-area">
                                                <div class="action-buttons">
                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                    <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                </div>
                                            </div>
                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->
                                </div><!-- /.product -->
                                <div class="product ">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <span class="loop-product-categories"><a href="product-category.html" rel="tag">Headphones</a></span>
                                            <a href="single-product.html">
                                                <h3>White Solo 2 Wireless</h3>
                                                <div class="product-thumbnail">
                                                    <img src="assets/images/blank.gif" data-echo="assets/images/products/6.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="price-add-to-cart">
                                                <span class="price">
                                                    <span class="electro-price">
                                                        <ins><span class="amount"> $1,999.00</span></ins>
                                                        <del><span class="amount">$2,299.00</span></del>
                                                        <span class="amount"> </span>
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                            </div><!-- /.price-add-to-cart -->
                                            <div class="hover-area">
                                                <div class="action-buttons">
                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                    <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                </div>
                                            </div>
                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->
                                </div><!-- /.product -->
                                <div class="product">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <span class="loop-product-categories"><a href="product-category.html" rel="tag">Smartphones</a></span>
                                            <a href="single-product.html">
                                                <h3>Smartphone 6S 32GB LTE</h3>
                                                <div class="product-thumbnail">
                                                    <img src="assets/images/blank.gif" data-echo="assets/images/products/4.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="price-add-to-cart">
                                                <span class="price">
                                                    <span class="electro-price">
                                                        <ins><span class="amount"> </span></ins>
                                                        <span class="amount"> $1,999.00</span>
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                            </div><!-- /.price-add-to-cart -->
                                            <div class="hover-area">
                                                <div class="action-buttons">
                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                    <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                </div>
                                            </div>
                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->
                                </div><!-- /.product -->
                            </div><!-- /.products -->
                        </div>
                    </div>
                </section>
            </div><!-- /.tab-pane -->
             <div class="tab-pane" id="tab-products-3" role="tabpanel">
                <section class="section-products-carousel">
                    <div class="home-v2-owl-carousel-tabs">
                        <div class="woocommerce columns-3">
                            <div class="products owl-carousel home-v2-carousel-tabs products-carousel columns-3">
                                <div class="product">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <span class="loop-product-categories"><a href="product-category.html" rel="tag">Audio Speakers</a></span>
                                            <a href="single-product.html">
                                                <h3>Wireless Audio System Multiroom 360</h3>
                                                <div class="product-thumbnail">
                                                    <img src="assets/images/blank.gif" data-echo="assets/images/products/3.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="price-add-to-cart">
                                                <span class="price">
                                                    <span class="electro-price">
                                                        <ins><span class="amount"> $1,999.00</span></ins>
                                                        <del><span class="amount">$2,299.00</span></del>
                                                        <span class="amount"> </span>
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                            </div><!-- /.price-add-to-cart -->
                                            <div class="hover-area">
                                                <div class="action-buttons">
                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                    <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                </div>
                                            </div>
                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->
                                </div><!-- /.product -->
                                <div class="product ">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <span class="loop-product-categories"><a href="product-category.html" rel="tag">Laptops</a></span>
                                            <a href="single-product.html">
                                                <h3>Tablet Thin EliteBook  Revolve 810 G6</h3>
                                                <div class="product-thumbnail">
                                                    <img src="assets/images/blank.gif" data-echo="assets/images/products/1.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="price-add-to-cart">
                                                <span class="price">
                                                    <span class="electro-price">
                                                        <ins><span class="amount"> </span></ins>
                                                        <span class="amount"> $1,999.00</span>
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                            </div><!-- /.price-add-to-cart -->
                                            <div class="hover-area">
                                                <div class="action-buttons">
                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                    <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                </div>
                                            </div>
                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->
                                </div><!-- /.product -->
                                <div class="product">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <span class="loop-product-categories"><a href="product-category.html" rel="tag">Headphones</a></span>
                                            <a href="single-product.html">
                                                <h3>Purple Solo 2 Wireless</h3>
                                                <div class="product-thumbnail">
                                                    <img src="assets/images/blank.gif" data-echo="assets/images/products/5.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="price-add-to-cart">
                                                <span class="price">
                                                    <span class="electro-price">
                                                        <ins><span class="amount"> $1,999.00</span></ins>
                                                        <del><span class="amount">$2,299.00</span></del>
                                                        <span class="amount"> </span>
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                            </div><!-- /.price-add-to-cart -->
                                            <div class="hover-area">
                                                <div class="action-buttons">
                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                    <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                </div>
                                            </div>
                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->
                                </div><!-- /.product -->
                                <div class="product">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <span class="loop-product-categories"><a href="product-category.html" rel="tag">Laptops</a></span>
                                            <a href="single-product.html">
                                                <h3>Tablet Red EliteBook  Revolve 810 G2</h3>
                                                <div class="product-thumbnail">
                                                    <img src="assets/images/blank.gif" data-echo="assets/images/products/2.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="price-add-to-cart">
                                                <span class="price">
                                                    <span class="electro-price">
                                                        <ins><span class="amount"> </span></ins>
                                                        <span class="amount"> $1,999.00</span>
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                            </div><!-- /.price-add-to-cart -->
                                            <div class="hover-area">
                                                <div class="action-buttons">
                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                    <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                </div>
                                            </div>
                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->
                                </div><!-- /.product -->
                                <div class="product ">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <span class="loop-product-categories"><a href="product-category.html" rel="tag">Headphones</a></span>
                                            <a href="single-product.html">
                                                <h3>White Solo 2 Wireless</h3>
                                                <div class="product-thumbnail">
                                                    <img src="assets/images/blank.gif" data-echo="assets/images/products/6.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="price-add-to-cart">
                                                <span class="price">
                                                    <span class="electro-price">
                                                        <ins><span class="amount"> $1,999.00</span></ins>
                                                        <del><span class="amount">$2,299.00</span></del>
                                                        <span class="amount"> </span>
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                            </div><!-- /.price-add-to-cart -->
                                            <div class="hover-area">
                                                <div class="action-buttons">
                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                    <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                </div>
                                            </div>
                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->
                                </div><!-- /.product -->
                                <div class="product">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <span class="loop-product-categories"><a href="product-category.html" rel="tag">Smartphones</a></span>
                                            <a href="single-product.html">
                                                <h3>Smartphone 6S 32GB LTE</h3>
                                                <div class="product-thumbnail">
                                                    <img src="assets/images/blank.gif" data-echo="assets/images/products/4.jpg" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="price-add-to-cart">
                                                <span class="price">
                                                    <span class="electro-price">
                                                        <ins><span class="amount"> </span></ins>
                                                        <span class="amount"> $1,999.00</span>
                                                    </span>
                                                </span>
                                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                            </div><!-- /.price-add-to-cart -->
                                            <div class="hover-area">
                                                <div class="action-buttons">
                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                    <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                </div>
                                            </div>
                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->
                                </div><!-- /.product -->
                            </div><!-- /.products -->
                        </div>
                    </div>
                </section>
             </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
    </section><!-- /.products-carousel-tabs -->
</template>
<script>
export default {
    name: "ProductTab"
}
</script>
