<template>
    <div id="sidebar" class="sidebar" role="complementary" style="margin-top: 778px;">
        <aside class="widget widget_text">
            <div class="textwidget">
                <a href="#">
                    <img src="assets/images/banner/ad-banner-sidebar.jpg" alt="Banner">
                </a>
            </div>
        </aside>
        <aside class="widget widget_products">
            <h3 class="widget-title">Latest Products</h3>
            <ul class="product_list_widget">
                <li>
                    <a href="single-product.html" title="Notebook Black Spire V Nitro  VN7-591G">
                        <img width="180" height="180" src="assets/images/product-category/1.jpg" alt="" class="wp-post-image"/><span class="product-title">Notebook Black Spire V Nitro  VN7-591G</span>
                    </a>
                    <span class="electro-price"><ins><span class="amount">&#36;1,999.00</span></ins> <del><span class="amount">&#36;2,299.00</span></del></span>
                </li>
                <li>
                    <a href="single-product.html" title="Tablet Thin EliteBook  Revolve 810 G6">
                        <img width="180" height="180" src="assets/images/product-category/2.jpg" alt="" class="wp-post-image"/><span class="product-title">Tablet Thin EliteBook  Revolve 810 G6</span>
                    </a>
                    <span class="electro-price"><span class="amount">&#36;1,300.00</span></span>
                </li>
                <li>
                    <a href="single-product.html" title="Notebook Widescreen Z51-70  40K6013UPB">
                        <img width="180" height="180" src="assets/images/product-category/3.jpg" alt="" class="wp-post-image"/><span class="product-title">Notebook Widescreen Z51-70  40K6013UPB</span>
                    </a>
                    <span class="electro-price"><span class="amount">&#36;1,100.00</span></span>
                </li>
                <li>
                    <a href="single-product.html" title="Notebook Purple G952VX-T7008T">
                        <img width="180" height="180" src="assets/images/product-category/4.jpg" alt="" class="wp-post-image"/><span class="product-title">Notebook Purple G952VX-T7008T</span>
                    </a>
                    <span class="electro-price"><span class="amount">&#36;2,780.00</span></span>
                </li>
            </ul>
        </aside>
        <aside id="electro_features_block_widget-2" class="widget widget_electro_features_block_widget">
            <div class="features-list columns-1">
                <div class="feature">
                    <div class="media">
                        <div class="media-left media-middle feature-icon">
                            <i class="ec ec-transport"></i>
                        </div>
                        <div class="media-body media-middle feature-text">
                            <strong>Free Delivery</strong> from $50
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="media">
                        <div class="media-left media-middle feature-icon">
                            <i class="ec ec-customers"></i>
                        </div>
                        <div class="media-body media-middle feature-text">
                            <strong>99% Positive</strong> Feedbacks
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="media">
                        <div class="media-left media-middle feature-icon">
                            <i class="ec ec-returning"></i>
                        </div>
                        <div class="media-body media-middle feature-text">
                            <strong>365 days</strong> for free return
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="media">
                        <div class="media-left media-middle feature-icon">
                            <i class="ec ec-payment"></i>
                        </div>
                        <div class="media-body media-middle feature-text">
                            <strong>Payment</strong> Secure System
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="media">
                        <div class="media-left media-middle feature-icon">
                            <i class="ec ec-tag"></i>
                        </div>
                        <div class="media-body media-middle feature-text">
                            <strong>Only Best</strong> Brands
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <aside class="widget widget_electro_products_carousel_widget">
            <section class="section-products-carousel" >
                <header>
                    <h1>Featured Products</h1>
                    <div class="owl-nav">
                        <a href="#products-carousel-prev" data-target="#products-carousel-57176fb2dc4a8" class="slider-prev"><i class="fa fa-angle-left"></i></a>
                        <a href="#products-carousel-next" data-target="#products-carousel-57176fb2dc4a8" class="slider-next"><i class="fa fa-angle-right"></i></a>
                    </div>
                </header>
                <div id="products-carousel-57176fb2dc4a8">
                    <div class="products owl-carousel  products-carousel-widget columns-1">
                        <div class="product-carousel-alt">
                            <a href="single-product.html">
                                <div class="product-thumbnail"><img width="250" height="232" src="assets/images/products/1.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="Smartwatch2" /></div>
                            </a>
                            <span class="loop-product-categories"><a href="single-product.html" rel="tag">Smartwatches</a></span><a href="single-product.html"><h3>Smartwatch 2.0 LTE Wifi  Waterproof</h3></a>
                            <span class="price"><span class="electro-price"><span class="amount">&#036;725.00</span></span></span>
                        </div>
                        <div class="product-carousel-alt">
                            <a href="single-product.html">
                                <div class="product-thumbnail"><img width="250" height="232" src="assets/images/products/2.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="WirelessSound" /></div>
                            </a>
                            <span class="loop-product-categories"><a href="single-product.html" rel="tag">Audio Speakers</a></span><a href="single-product.html"><h3>Wireless Audio System Multiroom 360</h3></a>
                            <span class="price"><span class="electro-price"><ins><span class="amount">&#036;1,999.00</span></ins> <del><span class="amount">&#036;2,299.00</span></del></span></span>
                        </div>
                        <div class="product-carousel-alt">
                            <a href="single-product.html">
                                <div class="product-thumbnail"><img width="250" height="232" src="assets/images/products/3.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="Laptop4" /></div>
                            </a>
                            <span class="loop-product-categories"><a href="single-product.html" rel="tag">Laptops</a></span><a href="single-product.html"><h3>Notebook Widescreen Y700-17 GF790</h3></a>
                            <span class="price"><span class="electro-price"><span class="amount">&#036;1,299.00</span></span></span>
                        </div>
                        <div class="product-carousel-alt">
                            <a href="single-product.html">
                                <div class="product-thumbnail"><img width="250" height="232" src="assets/images/products/4.jpg" class="wp-post-image" alt="GamePad" />
                                </div>
                            </a><span class="loop-product-categories"><a href="single-product.html" rel="tag">Game Consoles</a></span><a href="single-product.html"><h3>Game Console Controller <br />+ USB 3.0 Cable</h3></a>
                            <span class="price"><span class="electro-price"><ins><span class="amount">&#036;79.00</span></ins> <del><span class="amount">&#036;99.00</span></del></span></span>
                        </div>
                    </div>
                </div>
            </section>
        </aside>
    </div>
</template>

<script>
export default {
    name: 'SideBar'
}
</script>
